{% if site.kit_form_id and site.kit_form_id != "" %}
<form class="subscribe" action="https://app.kit.com/forms/{{ site.kit_form_id }}/subscriptions" method="post">
  <div class="subscribe-copy">
    <strong>Stay updated on our research.</strong> We'll email you occasionally when we publish new work or blog posts.
  </div>
  <div class="subscribe-fields">
    <label class="visually-hidden" for="subscribe-email">Email address</label>
    <input id="subscribe-email" type="email" name="email_address" placeholder="you@example.com" required autocomplete="email">
    <button type="submit">Sign up</button>
  </div>
</form>
{% endif %}
